<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="" class="navbar-brand"><img src="/assets/img/logo.png" alt=""></a>
    <div class="collapse navbar-collapse" id="collapse_target">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="" class="nav-link"><i class="fas fa-user-cog"></i> Profile</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </li>
    </ul>
</div>
</nav>